@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos para body y header*/
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
header{
    height: 7vh;
    background-color: whitesmoke;
    padding: 1vh;
}
/* Estilos para la nav bar*/
.logo img {
    max-width: 16vh;
    height: auto;
    margin: 2vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

.nav-images {
    margin-right: 3vh;
}

.nav-images h4 {
    display: flex;
    align-items: center;
    font-size: 18px;
    color:#052C60;
    margin:4vh;
}

h4 img {
    max-height: 5vh; 
}

.nav-images i {
    width: 5vh;
    height: auto;
}

.nav-images a:hover {
    opacity: 0.7; 
}

/* Mi cuenta y Carrito */
.carrito, .cuenta {
    position: relative;
    display: inline-block;
    z-index: 1
}

.carrito-icon, .mi-cuenta{
    cursor: pointer;
    position: relative;
}

.carrito-content, .micuenta-content{
    margin-top:5vh;
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 3vh;
    font-family: 'Poppins';
}
.micuenta-content form{
  justify-content: center;
}
.ingresar h2{
    text-align: center;
    margin-bottom: 1vh;
}
.ingresar-button {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Alinea el texto en el centro */
}
.ingresar-button button{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 0.5vh 2vh;
    font-family: 'Poppins';
    font-size: 18px;
}

button[type="submit"] {
    margin-top: 1vh; /* Espacio entre el botón y el contenido superior */
}
.cuenta:hover .micuenta-content{
    display: block;
}
.carrito:hover .carrito-content {
    display: block;
}

.carrito-vacio-hover, .carrito-content h6 {
    font-size: 16px;
    text-align: center;
    color: #444242;
    margin: 20px 0;
}
.input {
    display: flex;
    align-items: center; /* Alinear verticalmente los elementos */
    padding: 10px; /* Añadir espacio entre los elementos */
}

label {
    margin-left: 10px; /* Espacio entre el input y la etiqueta */
}



/* Esto es del carrousel/slider */

.container-slider {
    width: 100%;
   position: relative;
   overflow: hidden;
   text-align: center;
    position: relative;

}


.slider {
    display: flex;
    transition: transform 0.5s ease;
}
.slider__section{
    width: 100%;
}

.slider__btn{
    position: absolute;
    top: 50%;
    font-size: large;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.237) ;
    color: whitesmoke;
    padding: 1vh 2vh;
    border-radius: 100%;
}
.slider__img{
   width: 100%;
   height: auto;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 30px;
}

/* Fin del codigo del carrousel/slider */


/* Estilos para la Search Box */

.search-box {
    width: 60vh; /* Ajusta el ancho del cuadro de búsqueda según tus preferencias */
    position: relative;
    margin: 0 auto;
    margin-top: -4vh; /* Ajusta la posición vertical aquí según tu diseño */
    background: #d6d6d6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input[type="text"] {
    width: 40vh; /* Ajusta el ancho del cuadro de búsqueda según tus preferencias */
    height: 4vh;
    padding: 1vh;
    border: 0.2vh solid #052C60;
    border-radius: 0.5vh;
}

.search-box button {
    margin-left: 1vh; /* Añade un margen izquierdo para separar el botón del cuadro de búsqueda */
    background-color: whitesmoke;
    border: 0.2vh solid  #052C60;
    border-radius: 0.5vh;
    cursor: pointer;
    padding: 0; /* Elimina el padding para que la imagen se ajuste correctamente */
    height: 4vh; /* Ajusta el alto del botón según tus preferencias */
    width: 4vh; /* Ajusta el ancho del botón según tus preferencias */

}

.search-box button img {
    height: 50%; /* La imagen ocupará el 70% del alto del botón */
    width: auto; /* La anchura se ajustará automáticamente */
}
/*Estilos para la sección de información */

.informacion{
    background-color: #d6d6d6;
    margin-top: -4vh;
    padding: 10vh;
    display: flex;
    justify-content: space-around;
    font-family: 'Courier New';
    
}
.informacion h3 {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea horizontalmente al centro */
    font-size: 24px;
}

h3 img {
    max-height: 5vh; 
}
p {
    text-align: center; /* Alinea el texto horizontalmente al centro */
    margin-top: 2vh;
}
/* Estilos para el slider de categorías */

.slider-container-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40vh;
    background-color: whitesmoke;

}

.slider-button {
    position: absolute;
    top: 50%;
    font-weight: bold;
    transform: translateY(-50%);
    background-color: hsla(225, 77%, 20%, 0.408);
    color: #052C60;
    padding: 10px 20px;
    border: solid #1E64BD;
    cursor: pointer;
    font-size: 16px;
}

#leftBtn {
    left: 15vh;
}

#rightBtn {
    right: 15vh;
}

.slider2 {
    overflow: hidden;
    width: 70%;
}
.slider-cat {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slider-cat img {
    width: 30vh; /* Cambia el tamaño de las imágenes según tus preferencias */
    height: auto;
    margin-right: 5vh; /* Añade margen derecho para separar los elementos */
    margin-left: 0.5vh; /* Añade margen izquierdo para separar los elementos */
}
.slider-item {
   text-align: center;
   margin-top: 1vh;
   
}
.slider-item img {
    height: auto;
    border-radius: 50%; /* Hace que las imágenes sean redondas */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
    cursor: pointer;
}

.slider-item:hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra al pasar el mouse por encima */
}
.slider-item-title {
    margin-top: 1vh; /* Añade espacio entre la imagen y el título */
    font-size: 2vh; /* Tamaño de fuente del título */
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: hsla(225, 76%, 20%, 0.753); /* Color del texto del título */
    margin-right: 5vh;
}
/* Estilos de las ofertas*/

.elemento h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top:2vh ;
}
.elemento h6 {
    padding: 2vh;
}

.ofertas{
    display: flex;
    flex-wrap:wrap ;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.elemento:hover{
    box-shadow: 0 1vh 2vh rgba(12,32,91,1), 0 1vh 2vh rgba(12,32,91,1);
    transform: translate(0px,-8px);
}
.elemento{
    width: 16%;
    margin: 2vh;
    float: left;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5vh;
    cursor: pointer;
    padding-top: 1vh;
    box-shadow: 0 1vh 2vh rgba(12,32,91,1), 0 3vh 5vh rgba(12,32,91,1);
    transition: .2s;
    background-color: whitesmoke;
}
.elemento img{
width: 18vh;
height: 18vh;
margin: 0 auto;
text-align: center;
display: block;
}
.elemento p{
    text-align: center;
    color: #052C60;
    padding-top: 0 1vh;
}
.elemento h6{
    font-size: 26px;
    text-align: center;
    color: #052C60;
    margin: 0;
}
.elemento button{
    text-align: center;
    font-size: 24px;
    color:#031a37;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-left-radius:3vh;
    border-bottom-right-radius:3vh ;
}
.add-to-cart{
    background: rgba(33,85,152,1);
}
.add-to-cart:hover {
    color: rgb(157, 185, 226);
  }
.promos h3 , .prox-compra h3, .ofertas-especiales h3, .marcas-destacadas h3{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        padding: 4vh ;
        color: white;
        background: linear-gradient(90deg, rgba(166,189,223,1) 0%, rgba(120,152,198,1) 28%, rgba(80,110,152,1) 49%, rgba(33,85,152,1) 72%, rgba(29,73,130,1) 94%);
}

/* Estilos para promos*/

.banner-container {
    display: flex;
    justify-content: space-between;
}

.banner {
    margin: 2vh;
    display: flex;
    align-items: center;
    height: 30vh;
    overflow: hidden;
    background: #052C60;
    border-radius: 3vh;
    transition: transform 0.2s, opacity 0.2s;
}
.banner:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.banner img {
    max-width: 50%; /* Ajusta el ancho de la imagen según tus necesidades */
}

.banner-content {
    text-align: left; /* Alinea el texto a la izquierda */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.banner-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 15px;
    margin-bottom: 20px;
}

.banner-content a {
    display: inline-block;
    padding: 1vh 2vh;
    color: rgba(166,189,223,1);
    text-decoration: none;
    border: solid;
    font-weight: bold;
}
.banner-content a:hover{
    color: white;
}

/* Estilos para el marcas destacadas*/

.slider-marcas {
    background-color: whitesmoke;
    width: 100%;
    overflow: hidden;
    white-space: nowrap; /* Evita que las marcas se envuelvan a la siguiente línea */
  }
  
  .marcas {
    display: inline-block;
    transition: transform 0.90s ease;
    font-size: 0;
  }
  
  .lista-marcas {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 10vh;
    max-width: 30vh;
  }
  
  .lista-marcas img {
    max-width: 100%;
    height: auto;
    width: 100%;
    padding: 1vh 0 0 4vh;

  }
  
  .slider-marcas:hover .marcas {
    transform: translateX(-100%); /* Mueve las marcas hacia la izquierda al pasar el mouse */
  }



/* Estilos para el footer*/
footer {
    background: url(/assets/media/images/footer.png);
}

/* Estilos para el boton fijo de contacto*/

.btn-static {
    position: fixed; /* Fija la posición del botón */
    bottom: 5vh; /* Ajusta la distancia desde la parte inferior según tus preferencias */
    right: 5vh; /* Ajusta la distancia desde la derecha según tus preferencias */
    width: 50px; /* Ajusta el ancho del botón según tus necesidades */
    height: 50px; /* Ajusta la altura del botón según tus necesidades */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    z-index: 1000;
    border-radius: 50%;
}
.chat img {
width:8vh ;
height: 8vh;
margin: 10px;

}
.chat{
    border-radius: 10%;
    width: 10vh ;
    height: 10vh;
    border: solid #052C60;
}

/* Responsive */
@media (min-width: 768px) {
    .nav-images {
        margin-right: 3vh;
    }
    .nav-images h4 {
        font-size: 18px;
        margin: 4vh;
    }
    .h4 img {
        max-height: 5vh;
    }
    .nav-images i {
        width: 5vh;
    }
}

/* Estilos para tablet (tamaño de pantalla mediano) */
@media (max-width: 767px) {
    .nav-images {
        flex-direction: column;
        align-items: center;
    }
    .nav-images h4 {
        font-size: 16px;
        margin: 2vh 0;
    }
    .h4 img {
        max-height: 4vh;
    }
    .nav-images i {
        width: 4vh;
    }
}

/* Estilos para dispositivos móviles (tamaño de pantalla pequeño) */
@media (max-width: 480px) {
    .logo img {
        max-width: 80%;
    }
    .nav-images {
        flex-direction: column;
        align-items: center;
    }
    .nav-images h4 {
        font-size: 14px;
        margin: 2vh 0;
    }
    .h4 img {
        max-height: 3vh;
    }
    .nav-images i {
        width: 3vh;
    }
}